html
{
  background-color: white;
}

.translate:not(.translateActive):hover {
  filter: hue-rotate(180deg);
  cursor: pointer;
}

.translateActive {
  filter: grascale(1);
}

.bsf {
  background-color: #A9F5E1 !important;
}

.caseinfo2 {
	background-color: #F2F2F2 !important;
  margin-left: -5px;
}

.logoutLink {
  text-decoration: none;
}

.loginForm {
  background-color: #FFF !important;
  border: 1px solid #E6E6E6 !important;
  border-radius: 5px;
  padding-left: 10px;
}

.memberWrapper {
  border: 1px solid #E6E6E6 !important;
  padding: 10px;
  border: #838B8B solid 1px;
  border-radius: 5px;
}

.hilite {
  background-color: #F3E2A9 !important;
}



      .memberWrapper:hover, .loginForm:hover {
        border: 1px solid rgb(175, 142, 232) !important;

        h3 {
          color: rgb(175, 142, 232);
        }
      }

      hr { width: 1020px; }

      .log {
         overflow-x: hidden !important;
      }

      .infoMessage {
         background-color: #FFF !important;
         border: none !important;
         width: 500px !important;
      }


			.log, .content-type-section {
			  background-color: white !important;
			  gap: .4em !important;
			}


			.content-type-section p {
			   padding: 0;
			   margin: 0;
         width: 98%;
         padding-left: 2px;
         padding-right: 5px;
			}

			.configContent .reportContent .content-type-section p {
			   padding: 0;
			   margin: 0;
         width: 730;
         padding-left: 2px;
         padding-right: 5px;
			}

			.content-type-section h4 {
			 background-color: #F7F8E0 !important;
			}

      .content-type-section h4 {
       background-color: lightgray !important;
      }

			#footer
			{
				padding:15px;
				padding-left:0;
				padding-right:0;
				padding-top:20px;
				color:#000;
				font-size:11px;
				margin-top:300px;
				text-align:right;
			}

            #reportInfo {
               font-size: 15px;
               padding-top: 10px;
            }

            #header {
              background-color: rgb(175, 142, 232) !important;
              font-size: 30;
              font-weight: bold;
              width: 100%;
              height: 245px;
              margin: 0;
              color: white;
              background-image: url(https://downloads.intercomcdn.com/i/o/136996/6168a787b21e8dc7b10e5890/84e2c36c11248b70818860686b4bb116.jpg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              text-align: center;
            }

            #main {
              background-color: white;
              padding: 0px;
              margin: 0px;
              font-size: 14px;
              align: center;
            }

            #main div:not(#header):not(#navi):not(.caseInfo2):not(.commentOutput):not(.log) {
              width: 1000px;
              margin: auto;
            }

            .commentOutput {
              width: 800px;
              //max-width: 700px;
            }

            .configContent .commentOutput, .reportContent .commentOutput {
               width: 600px;
            }

            #navi {
              position: absolute;
              top: 180px;
              left: 0;
              width: 100%;
              text-align: center;
              color: rgb(175, 142, 232);
              font-size: 20px;
              font-weight: bold;
            }


            #navi a {
              color: white;
              font-size: 20px;
              font-weight: bold;
              padding-left: 10px;
              padding-right: 10px;
              text-decoration: none;
            }

            #navi a:hover {
              color: rgb(175, 142, 232);
            }

            a {
              color: rgb(175, 142, 232);
              font-weight: bold;
            }

            a:hover {
              color: #FF0000;
            }

            .loginDetail {
              color: white;
              font-size: 15px;
              position: absolute;
              top: 10px;
              right: 20px;
              max-width: 350px;
            }

            .content-type-section
            {
               background-color: #F0F0F0;
            }

            .content-type-section p
            {
               padding-top: 0;
               padding-bottom: 0;
               margin: 0;
            }


            body
            {
              margin: 0;
              padding: 0;
              font-family: 'Dosis', sans-serif;
              overflow-x: hidden;
            }

			table
			{
				font-size:14px;
				border-collapse:collapse;
				margin-top:1em;
				margin-bottom:1em;
				margin-left:auto;
				margin-right:auto,
			}

            table td:first-child {
                text-align: left;
                width: 100px;
                padding-left: 5px;
                padding-right: 10px;
            }


            tr:nth-child(odd):not(:first-child)
			{
			    background:#eee
			}

            td:not(:first-child) {
               padding-top: 5px;
               padding-bottom: 5px;
            }

           // td:last-child { width: 0px; }

            td:nth-child(3) {
               max-width: 300px;
            }

            td a {
               color: #FF0000;
               text-decoration: none;
            }

            td {
              vertical-align: top;
              max-width: 200px;
            }

            th
			{
			    background-color: rgba(175, 142, 232, 0.5);
			    font-weight:bold;
			    padding:5px
			}

            th:nth-child(even)
            {
                background-color: rgba(175, 142, 232, 0.6);
            }

            tr:not(:first-child):hover {
                background-color: rgba(175, 142, 232, 0.3);
            }

            .modern-button {
               background-color: rgba(175, 142, 232, 1);
               border: 1px solid transparent;
               border-radius: 3px;
               box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
               box-sizing: border-box;
               color: #FFF;
               cursor: pointer;
               font-family: 'Dosis', sans-serif;
               font-size: 14px;
               font-weight: bold;
               line-height: 1.15385;
               outline: none;
               padding: 4px .4em;
               position: relative;
               text-align: center;
               text-decoration: none;
               user-select: none;
               -webkit-user-select: none;
               touch-action: manipulation;
               vertical-align: baseline;
               white-space: nowrap;
            }

            .modern-button:hover,
            .modern-button:focus {
                 background-color: rgba(175, 142, 232, 0.7);
            }

            .modern-button:focus {
              box-shadow: 0 0 0 4px rgba(175, 142, 232, .15);
            }

            .modern-button:active {
              background-color: rgba(175, 142, 232, 0.3);
              box-shadow: none;
            }

            .modal, .config {
              font-size: 13px;
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              padding-top: 100px; /* Location of the box */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: hidden !important; /* Enable scroll if needed */
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
            }

            .modalWarnings {
              font-size: 13px;
              display: none;
              position: fixed;
              z-index: 1;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: hidden !important;
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
            }

            /* Modal Content */
            .config-content, .modal-content {
              background-color: white;
              margin: auto;
	      padding: 20px;
              border: 1px solid #888;
              width: 800px;
              height: 720px;
              border-radius: 10px;
            }

            .configContent, .reportContent {
              height: 100px;
              height: 650px;
              overflow-x: hidden;
            }

            details {
              font-size: 15px;
            }

            a > .close {
              color: #aaaaaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
              font-family: 'Dosis', sans-serif;
            }

            .close:hover,
            .close:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer;
            }

            #changelog, #settings {
               font-size: 10px;
            }
            ul#tabs {
              position: relative;
              list-style-type: none;
              padding: 0;
              width: 100%;
              -webkit-filter: drop-shadow(
                0 0 8px rgba(0,0,0,0.2));

              li {
                float: left;

                > input {
                  display: none;

                  &:checked {
                    ~ label {
                      color: #000;
                        border-bottom-color: transparent;
                    }
                    ~ section {
                      display: block;
                      z-index: 1;
                      -webkit-transition-delay: 0.5s
                    }
                  }
                }
                > label {
                  display: block;
                  padding: 8px;
                  background: #fff;
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                  border-right: 1px solid rgba(0,0,0, 0.2);
                  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
                > section {
                  position: absolute;
                  display: none;
                  overflow: hidden;
                  padding: 8px;
                  left: 0;
                  right: 0;
                  background: #fff;
                  text-align: left;
                  -webkit-transition: max-height 0.5s ease-in-out;
                  border-bottom-left-radius: 4px;
                  border-bottom-right-radius: 4px;
                }
              }
            }
